# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Shelby
SHELBY_API_KEY=your-shelby-api-key
SHELBY_SIGNER_PRIVATE_KEY=your-private-key
SHELBY_NETWORK=TESTNET
SHELBY_APTOS_FULLNODE_URL=https://api.testnet.aptoslabs.com/v1
SHELBY_APTOS_INDEXER_URL=https://api.testnet.aptoslabs.com/v1/graphql
SHELBY_RPC_BASE_URL=https://api.testnet.shelby.xyz/shelby
SHELBY_APTOS_API_KEY=
SHELBY_RPC_API_KEY=
NEXT_PUBLIC_TESTNET_API_KEY=
